.color-hover-wheat:hover {
    color: wheat !important;
}
.bg-navy {
    background-color: #000048;
}
.bg-content {
    background-color: #f2f2f2ff;
}
.bg-grey {
    background-color: #b3b3b3ff;
}
.bg-darkgrey {
    background-color: #858585ff;
}
.bg-button {
    background-color: #565656ff;
}
.height-content {
    min-height: calc(100vh - 180px);
}
.table-alignment {
    table-layout: fixed;
}
